#root {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.relative-container {
  position: relative;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid #60a5fa; /* You can specify the border color as per your requirement */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #60a5fa; /* Tailwind's bg-blue-400 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-parent {
  position: absolute;
  right: 50%;
  height: 1rem;
  width: 60%;
  transform-origin: right;
}

.avatar-container {
  width: 1.5rem;
  height: 1.5rem;
}